.p-aboutbrand{
        // padding: 50px 0;
        font-family: $nunitofnt;
        
    .main-about{
        background-color: #eee;
        .main-list{
            cursor: pointer;
            .heading-title{
                border-bottom: 1px solid #d4d4d4;
                line-height: 27px;
                padding: 25px 20px; 
                font-weight: 700;
                display: block;
                padding: 15px 20px;
                position: relative;
                text-align: center;
           
                font-size: 18px;
                font-family: $nunitofnt;
                text-transform: capitalize;
  
                &::after{
                    width: 8px;
                    height: 8px;
                    border: 3px solid #000;
                    transform: rotate(135deg) translateY(50%);
                    border-bottom: none;
                    border-right: none;
                    top: 50%;
                    position: absolute;
                    right: 10px;
                    content: " ";
                    font-weight: 700;
                    transition: all 0.5s ease-in-out;
                }
                &::before {
                    display: none;
                }
    
                &.active {
                    border-bottom: none;
                    // color:#4b9cad;
                    &::after {
                        border-color: #000;
                        // border-bottom: none;
                        transform: rotate(225deg) translateY(50%);
                    }
                }
    
                // &::after{
                //     transition: all 0.5s ease-in-out;
                //     transform: rotate(135deg) translateY(50%);
                // }
            }
    
            .heading-answer{
                display: none;
                margin: 0;
                text-align: left;
                padding: 0px 80px;
    
                p{
                       
                    text-align: left;
                    font-weight: 400;
                    font-family: $nunitofnt;
                    // padding: 15px 20px;
                    margin: 0 0 16px;
                    font-size: 16px;
                    line-height: 1.8;
                    color: #6B6B6B;

                    &::after{
                        background-color: #fff;
                    }
                    // font-style: italic;
                }

                ul{
                    line-height: 2;
                 
                    li{
                        font-size: 16px;
                        font-family: $nunitofnt;
                        color: #6B6B6B;
                        list-style-type: disc;
                    }
                }

                ol{
                    li{
                        line-height: 2;
                        font-size: 16px;
                        font-family: $nunitofnt;
                        color: #6B6B6B;
                        list-style-type: decimal;
                    }
                }
             
            }
        }
    }
} 